<h1>BMI計算機</h1>
<%= form_tag '/result', method: :post do %>
    <input type="textfiled" name="body_height" placeholder="請輸入身高" />
    <input type="textfiled" name="body_weight" placeholder="請輸入體重" />
    <input type="submit" class="btn btn-primary" />
</form>
<% end %>
